<% if note.user.id == current_user.id%>
  <div class="content_post" data-id=<%= note.id %> data-check=<%= note.checked %>>
    <div class="more">
      <%= link_to '削除', note_path(note.id), method: :delete %>
      <%= check_box_tag :sample1 %>
      <%= label_tag :sample1, "覚えた" %> 
      <%= note.updated_at.to_s(:datetime_jp) %></br>
      <% if Time.current - note.updated_at > 3600 %>
        <% zikan = Time.current - note.updated_at %>
        <% hours = zikan/3600 %>
        <% minutes = (zikan%3600)/60 %>
        <% seconds = (zikan%3600)%60 %>
        <%= "#{hours.to_i}時間 #{minutes.to_i}分 #{seconds.to_i}秒 " %>
      <% end %>
    </div>
    <p><%= simple_format(note.memo) %></p>
    <span class="url">
    <%= link_to note.url, note.url, target: :_blank, rel: "noopener noreferrer" %>
    </span>
  </div>
<% end %>