<% if note.user.id == current_user.id%>
  <div class="content_post" data-id=<%= note.id %> data-check=<%= note.checked %>>
    <div class="more">
      <%= link_to '削除', note_path(note.id), method: :delete %>
      <%= check_box_tag :sample1 %>
      <%= label_tag :sample1, "覚えた" %> 
      <%= "最終復習時刻#{note.updated_at.to_s(:datetime_jp)}" %></br>
        <% zikan = Time.current - note.updated_at %>
        <% hours = zikan/3600 %>
        <% minutes = (zikan%3600)/60 %>
        <% seconds = (zikan%3600)%60 %>
        <%= "最終復習時刻からの経過時間  #{hours.to_i}時間 #{minutes.to_i}分 #{seconds.to_i}秒 " %>
    </div>
      <div id="up_time" data-json="<%= note.updated_at.to_f.to_json %>" ></div>
    <p><%= note.memo %></p>
    <span class="url">
    <%= link_to note.url, note.url, target: :_blank, rel: "noopener noreferrer" %>
    </span>
  </div>
<% end %>