<div class="contents row">
  <div class="container">
    <%= form_with(model: @note, local: true) do |form| %>
      <p class="new_url"><%= form.text_field :url, placeholder: "Url" %></p>
      <p class="new_memo"><%= form.text_area :memo, placeholder: "memo 必須", rows: "10" %></p>
      <p><%= form.submit "SEND" %></p>
    <% end %>
  </div>
</div>




<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '#editor',
      data: {
        input: '<%== j @note.memo %>',
      },
      filters: {
        marked: marked,
      },
    });
  };
</script>

  <%= form_for @note, :url => {:action => :create} do |f| %>
    <div class="form-group">
      <div id='editor'>
        <textarea name="note[memo]" class="form-control" rows="20" v-model='input' debounce='50'></textarea>
          <div v-html='input | marked'>
          </div>
      </div>
    </div>
  <% end %>
