<div id="RealtimeClockArea"></div>
<div class="border">
1週間以内に未復習のメモ<span id="count_down_1" data-json="<%= @note_1.updated_at.to_f.to_json %>"></span>
</div>

<div class="contents">
  <% num = 0 %>
  <% @notes.each do |note| %>
    <%if Time.current - note.updated_at > 604800 && Time.current - note.created_at < 604800*4 %>
      <%= render partial: "note", locals: { note: note } %>
      <% num = num + 1 %>
    <% end %>
  <% end %>
  <% if num == 0%>
    <p>you have nothing to memorize</br>復習後1週間経過したら表示されます</p>
  <% end %>
</div>

<div class="border">
24時間以内に未復習のメモ<span id="count_down_2"></span>
</div>

<div class="contents">
  <% num = 0 %> 
  <% @notes.each do |note| %>
    <%if Time.current - note.updated_at > 86400 && Time.current - note.created_at < 604800*4 %>
      <%= render partial: "note", locals: { note: note } %>
      <% num = num + 1 %>
    <% end %>
  <% end %>

  <% if num == 0%>
    <p>you have nothing to memorize</br>復習後24時間経過したら表示されます</p>
  <% end %>
</div>

<div class="border">
   5時間以内に未復習のメモ<span id="count_down_3"></span>
</div>


<div class="contents">
  <% num = 0 %>
  <% @notes.each do |note| %>
    <%if Time.current - note.updated_at > 18000 && Time.current - note.created_at < 604800*4 %>
      <%= render partial: "note", locals: { note: note } %>
      <% num = num + 1 %>
    <% end %>
  <% end %>
  <% if num == 0%>
    <p>you have nothing to memorize</br>復習後5時間経過したら表示されます</p>
  <% end %>
</div>

<div class="border">
   1時間以内に未復習のメモ<span id="count_down_4"></span>
</div>

<div class="contents">
  <% num = 0 %>
  <% @notes.each do |note| %>
    <%if Time.current - note.updated_at > 360 && Time.current - note.created_at < 604800*4 %>
      <%= render partial: "note", locals: { note: note } %>
      <div id="up_time" data-json="<%= note.updated_at.to_f.to_json %>" ></div>
      <% num = num + 1 %>
    <% end %>
  <% end %>
  <% if num == 0%>
    <p>you have nothing to memorize</br>復習後1時間経過したら表示されます</p>
  <% end %>
</div>
